<div *ngIf="event">
  <ion-card>
    <ion-item>
      <h1>
        {{event.name}}
      </h1>
      <p class="date">
        {{event.start | date:'EEE, MMM d, h:mm a'}} to {{event.end | date:'h:mm a'}}
      </p>
    </ion-item>
    <ion-card-content>
      <p>
        {{event.description}}
      </p>
    </ion-card-content>
    <map-view [event]="event"></map-view>
    <ion-item>
      <h2>{{event.location.name}}</h2>
      <p>{{event.location.street}}, {{event.location.city}}</p>
    </ion-item>
  </ion-card>
</div>
<div *ngIf="!event">
  <p>Loading...</p>
</div>
